/* =====================
   Base styles (MOBILE)
   ===================== */

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.container {
  padding: 1rem;
}

.card {
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* =====================
   Tablet and up
   ===================== */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: auto;
  }
}

/* =====================
   Desktop and up
   ===================== */
@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }
  .home-main-img {
    height: 400px !important;
    object-fit: cover;
  }
}


header .navbar-toggler {
  display: block;
}

.nav-link {
  color: #1f2937;
}

.nav-link.active {
  background-color: #e7f0ff;
  border-radius: 8px;
  font-weight: 500;
}

.card-img-top {
  height: 200px;       /* adjust as needed */
  object-fit: cover;   /* fills the area without distortion */
}
