/* =====================
   Base styles (MOBILE)
   ===================== */

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: rgb(249,250,251);
}

.container {
  padding: 1rem;
}

.card {
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* =====================
   Tablet and up
   ===================== */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: auto;
  }
  .countdown-card {
    width: 30rem !important;
  }
  .card-body {
    padding: 2rem;
  }
}

/* =====================
   Desktop and up
   ===================== */
@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }
  .home-main-img {
    height: 400px !important;
  }
  .about-main-img {
    height: 400px !important;
    padding-top: -50px !important
  }
  .countdown-card {
    width: 30rem !important;
  }
}

.about-main-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}



header .navbar-toggler {
  display: block;
}

.nav-link {
  color: #1f2937;
}

.nav-link.active {
  background-color: #e7f0ff;
  border-radius: 8px;
  font-weight: 500;
}

.card-img-top {
  height: 200px;       /* adjust as needed */
  object-fit: cover;   /* fills the area without distortion */
}


.count-box {
    background-color: rgb(98,75,26); /* a nice red/pink */
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  @media (max-width: 576px) {
    .count-box {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  }

  footer {
    box-shadow: 0 -3px 6px rgba(0,0,0,0.05); /* subtle top shadow */
  }

  .footer-link:hover {
    color: #0d6efd !important; /* Bootstrap primary hover */
  }

  footer hr {
    margin: .5rem 0;
  }

  .number-circle {
    width: 40px;
    height: 40px;
    background-color: #0d6efd; /* Bootstrap primary color */
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 16px;
  }

  @media (max-width: 576px) {
    .number-circle {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
  }